/* General Style */
/* ensures default margin and padding does not interfere header span */
* {
    margin: 0px;
    padding: 0px;
}
/* applies a consistent font-family and size 
to the whole website */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
/* creates the navigation using links nested in an
unordered list */
ul {
    display: flex;
    margin-right: 50px;
    gap: 40px;
}
/* removes the default listing with bullet points */
li {
    list-style: none;
}
/* styles the text of the links */
a {
    font-weight: 500;
    text-decoration: none;
    color: white;
    gap: 300px;
    
}
/* styles the text of the links and
 how long the color when hovered upon */
a:hover {
    color: crimson;
    transition: 0.3s;
}
/* styles the container grouping the logo and the navigation */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to right top, #260537, #2f0b50, #34146c, #30208b, #1a2dac);
}
/* size of the logo */
.header img {
    width: 200px;
    margin: 0 50px 0 0;
}